# day 1 - this is the first class of python

we are going to write our first program

In [5]:
print("hello horld . this is an amezing python class")

hello horld . this is an amezing python class

In [6]:
print(2+3)

5

# python comments

In [7]:
# this is comment
print("hello world")

hello world

# multiline comment

In [8]:
#this is comment 1
#this is comment 2
#this is comment 3

print(2+3)

5

In [9]:
""" this is our first class of python """
print(5+6)

11

In [1]:
print("hello tahir")

hello tahir

# DAY-2

# VARIABLES AND OPERATORS

In [1]:
a=1
print(a)

1

In [2]:
b=2
c=2.3
print(b,c)

2 2.3

In [3]:
x="apple"
print(x)

apple

In [4]:
student=23
print(student)

23

In [5]:
_a=5
print(_a)

5

# many values to multiple variables

In [7]:
x,y,z="orange","banana","cherry"
print(x,y,z)

orange banana cherry

In [9]:
x=y=z="orange"
print(x)
print(y)
print(z)

orange
orange
orange

# python output variables

In [12]:
x="python"
y="is"
z="amezing"
print(x,y,z)

print()

print(x)
print(y)
print(z)

python is amezing

python
is
amezing

# data types

# integer data types

In [13]:
x=2
print(x)
print(type(x))

2
<class 'int'>

# floating point data types

In [14]:
y=1.5
print(y)
print(type(y))

1.5
<class 'float'>

# complex data types

In [15]:
z=2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

# string data type

In [17]:
a="this is the day 2 of python class"
print(a)
print(type(a))

this is the day 2 of python class
<class 'str'>

# list data type

In [18]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

# tuple data types

In [19]:
c=(1,2,3,4,5,6,7,8,9,10)
print(c)
print(type(c))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [20]:
%whos

Variable   Type       Data/Info
-------------------------------
a          str        this is the day 2 of python class
b          list       n=10
c          tuple      n=10
student    int        23
x          int        2
y          float      1.5
z          complex    (2+5j)

# operators

In [ ]:
# addition

a=5
b=3
print(a+b)

In [22]:
a=5
b=2.3
print(a+b)

7.3

In [23]:
a=5+2j

b=4
print(a+b)

(9+2j)

In [28]:
a="hello"
b="students"
print(a+ " " +b)

hello students

# subtraction

In [29]:
a=15
b=6
print(a-b)

9

In [30]:
a=5.95698
b=7.12365
print(a-b)

-1.1666699999999999

In [31]:
a=5+6j
b=3
print(a-b)

(2+6j)

# multiplication

In [32]:
a=50
b=56
print(a*b)

2800

In [33]:
a=5.69
b=82.25666
print(a*b)

468.0403954

# division

In [34]:
a=10
b=5
print(a/b)

2.0

# modulus operator

In [35]:
a=19
b=3
print(a%b)

1

In [36]:
a=12
b=4
print(a%b)

0

# exponent

In [37]:
a=41256789
print(a**55)

71162028433520217717099884851404495326786614148274137562533191244754226421072922193229393035406290047490322006127486170528820460414671897074184746917638236810663780872933871199771053029074871072046645088603300420278272474373361352870797685329285463690039885441075398107839063255747535400015566353549647882767414182717586010912021318113386679928289227315380064286145450539958069165193638416244911434618495833200180049949

In [38]:
a=((789*78)+(78.256/89)+(856**67)+(145698-7526))
print(a)

2.990489165920469e+196

In [40]:
a=True
b=False
print(a and b)

False

In [43]:
a=True
b=True
print(a or b)

True

In [46]:
a=False
b=True
print(not(a))

True

In [47]:
a=((8922*2852)+(7821*222)+(25566*256)+(8281/87))
print(a)

33726797.183908045

# builtin fuction in python

# day-3

# abs()function

In [1]:
# absolute function

In [2]:
x=abs(-7.25)
print(x)

7.25

In [3]:
y=abs(-8)
print(y)

8

In [4]:
z=abs(3+5j)
print(z)

5.830951894845301

# binary function

In [5]:
x=bin(13)
print(x)

0b1101

In [6]:
y=bin(36)
print(y)

0b100100

In [7]:
z=bin(56)
print(z)

0b111000

# bytes function

In [8]:
x=bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [9]:
x=bytes(16)
print(x)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

# character function

In [12]:
x=chr(97)
print(x)

a

In [13]:
x=chr(98)
print(x)

b

In [14]:
x=chr(99)
print(x)

c

In [15]:
x=chr(94)
print(x)

^

# complex function

In [16]:
x=complex(3,5)
print(x)

(3+5j)

In [17]:
y=complex(2.5,3.96)
print(y)

(2.5+3.96j)

In [18]:
z=complex(2)
print(z)

(2+0j)

# day-4

# control flow statements

# if condition

# write a program to caklculate the percentage of a student in the subjects maths science social science hindi

In [2]:
x=input("enter the iname of the student")
a=int(input("enter the marks scored in english"))
b=int(input("enter the marks scored in hindi"))
c=int(input("enter the marks scored in maths"))
d=int(input("enter the marks scored in science"))
e=int(input("enter the marks scored in social"))

n=((a+b+c+d+e)/500)*100
print("the percenytage scored by student",n)

enter the iname of the studenttahir
enter the marks scored in english85
enter the marks scored in hindi65
enter the marks scored in maths95
enter the marks scored in science86
enter the marks scored in social73
the percenytage scored by student 80.80000000000001

# if percentage is above 90-a
if percentage is above 75-b
if percentage is above 65-c

In [4]:
a=int(input("enter the percentage scored by a student"))

if a>=90:
    print("A gerade")
if a>=75 and a<90:
    print("B grade")
if a>=65 and a<75:
    print("C grade")

enter the percentage scored by a student80
B grade

# if else statements

write a program to display hello if number entered by a user is a multiple of 5 else print py

In [4]:
a= int(input("enter the number:"))
if a%5==0:
    print("hello")
else:
     print("bye")

enter the number:36
bye

In [6]:
a= int(input("enter the number"))
if a>0:
    print("positive number")
else:
    print("negative number")

enter the number-5
negative number

In [ ]:
a = input("enter the city name:")
if a =="delhi":
    print("red fort")
elif a =="agra":
    print("taj mahal")
elif a =="jaipur":
    print("jalmahal")
elif  a =="orissa":
    print("konak temple")
elif a =="hydrabad":
    print("char minar")
else:
    print("record  not found:")

# DAY -5

LOOPS

while loop

# program to display numbers 1 to 5

In [1]:
i=1;
n=5;
while i<=n:
    print(i)
    i=i+1;

1
2
3
4
5

# enter the value from a user and make a multiplication table ti  10

In [2]:
x=int(input("please enter the number:"))
i=1;
while i<=10:
    print(x*i)
    i=i+1;
print("this is the multiplication table")

please enter the number:8
8
16
24
32
40
48
56
64
72
80
this is the multiplication table

# infinite loop

In [ ]:
age=32;
while age>18:
    print("you can vote")

In [3]:
count=0;
while count<25:
    count=count+1
    print("hello students")

hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students

# using else statements in the while loop

In [4]:
count=0;
while count<25:
    count=count+1
    print("hello students")
else:
    print("this is the else block")

hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
hello students
this is the else block

# for loop

In [1]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

# looping through a string

In [2]:
for x in "banana":
    print(x)

b
a
n
a
n
a

# range
for x in range(25):
    print(x)

In [4]:
for x in range(3,25):
    print(x)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# DAY-6

# USER DEFINED FUNCTION

creating a user defined function

In [5]:
def my_function():
    print("hello class")
    print("we are learning python")

calling a function

In [14]:
my_function()

hello class

In [15]:
my_function()

hello class

# making the result of a student

In [16]:
def contact():
    print("contact details of the school")
    print("delhi public school")
    print("Banaglore karnataka")
    print("7894561230")
    print("dps.contact@gmail.com")

In [ ]:
for i in range(4):
    a=input("name of the student")
    b=int(input("enter the marks of maths"))
    c=int(input("enter the marks of social science"))
    d= int (input("enter the marks of social"))
    print()
    contact()

# ARGUMENTS

In [3]:
def my_function(fname):
    print(fname + "sharma")

In [4]:
my_function("pooja")

poojasharma

In [5]:
def function(fname):
    print(fname + "sharma")

In [6]:
function("pooja")

poojasharma

In [7]:
def my_function(fname, lastname):
    print(fname + " "+lastname)

In [8]:
my_function("tahir","khan")

tahir khan

# electicity bill

to write a program to calculate electricity bill

if 500 unit used - pay 5 for each unit
if 700 unit used - pay 10 for each unit
if 1000 unit used - pay 15 for each unit
if more thean 1000 unit used - pay 20 for each unit

In [1]:
def electricity_bill(n):
    if n<=500:
        print("your bill is Rs.",n*5)
    elif n>500 and n<=700:
        print("your bill is Rs.",n*10)
    elif n>700 and n<=1000:
        print("your bill is Rs.",n*15)
    elif n>1000 :
        print("your bill is Rs.",n*20)

In [7]:
def instructions():
    print("last date of paying the bill is 20 april.")
    print("after 20 april you need to pay Rs.1000 as a fine")
    print("electricity office, new Delhi")

In [ ]:
for i in range(3):
    a=input("enter the name of the customer:")
    n=int(input("enter the unit of electricity you have used"))
    electricity_bill(n)
    print(" ")
    instructions()

enter the name of the customer:tahir
enter the unit of electricity you have used456
your bill is Rs. 2280

last date of paying the bill is 20 april.
after 20 april you need to pay Rs.1000 as a fine
electricity office, new Delhi

In [ ]:
for i in range(3):
    a=input("enter the name of the customer:")
    n=int(input("enter the unit of electricity you have used"))
    electricity_bill(n)
    print()
    instruction()

# DAY-7

# CONCEPT OF STRINGS

# creating strings in python

In [1]:
a="hello"
print(a)

hello

In [2]:
a='hello'
print(a)

hello

# multiline strings

In [3]:
b="""By 55,000 years ago, the first modern humans, or Homo sapiens, had arrived on the Indian subcontinent from Africa, where they had earlier evolved.[31][32][33] The earliest known modern human remains in South Asia date to about 30,000 years ago.[31] After 6500 BCE, evidence for domestication of food crops and animals, construction of permanent structures, and storage of agricultural surplus appeared in Mehrgarh and other sites in Balochistan, Pakistan.[87] These gradually developed into the Indus Valley Civilisation,[88][87] the first urban culture in South Asia,[89] which flourished during 2500–1900 BCE in Pakistan and western India.[90] Centred around cities such as Mohenjo-daro, Harappa, Dholavira, and Kalibangan, and relying on varied forms of subsistence, the civilisation engaged robustly in crafts production and wide-ranging trade.[89]""""
print(b)

SyntaxError: EOL while scanning string literal (4273346733.py, line 1)

In [5]:
b="""   By 55,000 years ago, the first modern humans,
or Homo sapiens, had arrived on the Indian subcontinent from Africa,
where they had earlier evolved.
[31][32][33] The earliest known modern human remains in South Asia date to about 30,000 years ago.
[31] After 6500 BCE, evidence for domestication of food crops and animals,
construction of permanent structures,
and storage of agricultural surplus appeared in Mehrgarh and other sites in Balochistan,
Pakistan.[87] These gradually developed into the Indus Valley Civilisation,
[88][87] the first urban culture in South Asia,[89]
which flourished during 2500–1900 BCE in Pakistan and western India.
[90] Centred around cities such as Mohenjo-daro, Harappa, Dholavira, and Kalibangan, 
and relying on varied forms of subsistence, the civilisation engaged robustly in crafts production and wide-ranging trade.[89] """
print(b)

   By 55,000 years ago, the first modern humans,
or Homo sapiens, had arrived on the Indian subcontinent from Africa,
where they had earlier evolved.
[31][32][33] The earliest known modern human remains in South Asia date to about 30,000 years ago.
[31] After 6500 BCE, evidence for domestication of food crops and animals,
construction of permanent structures,
and storage of agricultural surplus appeared in Mehrgarh and other sites in Balochistan,
Pakistan.[87] These gradually developed into the Indus Valley Civilisation,
[88][87] the first urban culture in South Asia,[89]
which flourished during 2500–1900 BCE in Pakistan and western India.
[90] Centred around cities such as Mohenjo-daro, Harappa, Dholavira, and Kalibangan,
and relying on varied forms of subsistence, the civilisation engaged robustly in crafts production and wide-ranging trade.[89]

# indexing

In [6]:
a="hello students"
print(a[11])

n

In [7]:
print(a[-2])

t

# SLICING OF STRINGS

In [9]:
s="hello students how are you"
print(s[0:5])

hello

In [10]:
print(s[6:18])

students how

In [11]:
s="hello students how are you"
print(s[0:20:2])

hlosuet o

# reverse string

In [1]:
s="hello students how are you"
print(s[::-1])
s.reverse()
print(s)

uoy era woh stneduts olleh

AttributeError: 'str' object has no attribute 'reverse'

# finding the length of a string

In [14]:
print(len(b))

861

In [15]:
a="this is our day 7 python class"
print(len(a))

30

# upper method

In [16]:
a="hello how are you"
print(a.upper())

HELLO HOW ARE YOU

# lower method

In [17]:
a="HELLO STUDENTS"
print(a.lower())

hello students

# replace function

In [19]:
a="hello how are you"
print(a.replace("hello","bye"))

bye how are you

In [20]:
b="hello world"
print(b.replace("world","students"))

hello students

# find method

In [1]:
a="python is great"
b=a.find("g")
print(b)

10

In [2]:
a="python is great"
b=a.find("p")
print(b)

0